<!DOCTYPE html>
<head>
    <title>
        Contact Us

    </title>
    <style>
        ul{
        list-style-type:none;
        margin:0;
        padding:0;
        margin-left: 152px;
        padding-top: 31px;
        }
        li{
            display: inline;
            margin-right: 40px;
        }
        body{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .navbar{
            margin-top: 30px;
            display: inline-block;
        }

    </style>
</head>
<body>
    <div style="background-color: #E8F3EF ; width:100%; height: 70px;  display: flex;">
        <div style="display:inline-block ; margin-left: 0px; ">
            <ul>
            <li>
                <a href="index.html">Homepages </a>
            </li>
            <li>
                <a href="about.html">About </a>
            </li>
            <li>
                <a href="catogories.html">Catogories </a>
            </li>
            <li>
                <a href="pages.html"> Pages </a>
                
            </li>

        </ul>
        </div>
        <div class="navbar" style=" margin-right: 19%;">
            <img src="Aset/image/notebook.svg"/>
        </div>
        <div class="navbar" style=" margin-right: 30px;  ">
            <img src="Aset/image/Group 2124.svg"/>
        </div>
        <div class="navbar" style="  margin-right: 71px; ">
            <img src="Aset/image/Vector.svg"/>
        </div>
        <div class="navbar" style="  margin-right: 62px; ">
            <a href="contact.html">Contact</a>
        </div>
        <div class="navbar" style="  margin-right: 53px;  ">
            <span>
                En
            </span>
        </div>
        <div class="navbar" style="  margin-right: 11px; ">
            <img src="Aset/image/Sun.svg"/>
        </div>
        <div class="navbar" style="  margin-right: 5px; ">
            <img src="Aset/image/Moon.svg"/>
        </div>
    </div>




    <div>
        <div style="font-size:27px ; font-weight: 600; text-align: center; margin-top: 100px ;">
            <span style="background-color:#00AAA1; color:white  ; padding: 2px ; text-transform: capitalize;">Contact</span>
                    <span style="text-transform:capitalize ;"> Us</span>
        </div>

        <div style="display:flex ; flex-direction: row; margin-top: 56px; justify-content: center; gap: 81px;">
            <form action="" method="post" style="display:flex ; flex-direction: column; gap: 24px; width: 30%; ">
                <div style="width:100% ; display: flex; flex-direction: row; gap: 24px; ;">
                    <input placeholder="Name" name="field_name"  style="width:100% ; padding: 15px; border: 1px solid #94D7D3;
                    border-radius: 5px;" />
                    <input placeholder="Email" name="field_email" style="width:100% ; padding: 15px; border: 1px solid #94D7D3;
                    border-radius: 5px;"/>
                </div>
                    <input placeholder="Subject" name="field_subject" style="width:100% ; border: 1px solid #94D7D3; height: 45px;
                    border-radius: 5px;"/>

                <div style="width:100% ;">
                    <textarea placeholder="Type your message" name="field_type your message" style="width:100% ; height: 153px; border: 1px solid #94D7D3;
                    border-radius: 5px;">
                    </textarea>
                </div>
                <button type="submit" style=" padding-top: 15px; padding-bottom: 15px; padding-right: 10px; padding-left: 10px; width: fit-content; background-color:#00AAA1 ; border-radius: 5px; color: white; border: #00AAA1; ">
                    Send Message
                </button>
                
            </form>

            <div style="display:flex ; flex-direction: column; width: 30%;">
                <p>
                    Dynamically underwhelm integrated outsourcing via timely models. Rapidiously reconceptualize visionary imperatives without
                </p>

                <span style="margin-top: 40px;">
                    blog.notebook@gmail.com
                </span>
                <span style="margin-top: 8px;">
                    +886554 654654
                </span>
                <span style="margin-top: 8px;">
                    9567 Turner Trace Apt. BC C3G8A4
                </span>

                <span style="font-size:15px ; font-weight: 700; margin-top: 33px;">Follow On :</span>

                <div style="display: flex; flex-direction: row; gap: 20px; margin-top: 16px;">
                    <img src="Aset/image/Blue Twitter .svg"/>
                    <img src="Aset/image/Gray Facebook .svg"/>
                    <img src="Aset/image/Pinterest.svg"/>
                    <img src="Aset/image/Gray Instagram.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#F2F8F7 ; width: 100%; margin-top: 50px; padding-top: 70px; ">
        <div style="display: flex; flex-direction:row ; justify-content: space-evenly;">
            <div>
                <div>
                    <img src="Aset/image/notebook.svg" width="119px" height="27px"/>
                </div>
                <div style="margin-top: 24px;">
                    <span style="font-size: 15px; font-weight: 400; color: #555555; display: flex; flex-wrap: wrap; width: 236px; line-height: 22px;">
                        Did you come here for something in particular or just general Riker
                    </span>
                </div>
            </div>
            <div style="display:flex ; flex-direction: column;">
                <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px;">
                    Blog
                </span>
                <div style="color:#555555 ; display:flex ; flex-direction: column; gap: 11px; ">
                <span>Travel</span>
                <span>Technology</span>
                <span>Lifestyle</span>
                <span>Fashion</span>
                <span>Bussiness</span>
                </div>
            </div>
            <div style="display:flex ; flex-direction: column;">
                <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px;">
                    Quick Links
                </span>
                <div style="color:#555555 ; display:flex ; flex-direction: column; gap: 11px; ">
                <span>FAQ</span>
                <span>Terms & Conditions</span>
                <span>Support</span>
                <span>Privacy Policy</span>
                </div>
            </div>
            <div style="display:flex ; flex-direction: column;">
                <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px; ">
                    Subscribe For Newsletter
                </span>
                <div style="display: flex; flex-direction: row; width: 100%;">
                    <input style="background-color:#DFF1F0 ; border:0px; border-radius: 6px 0px 6px 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 22px; padding-right: 22px" placeholder="Your Email"/>
                    <button style="background-color: #00AAA1; border: 0px; border-radius: 0px 6px 6px 0px; font-size: 15px; font-weight: 400; color: #FFFFFF; padding-top: 15px; padding-bottom: 15px; padding-left: 42px; padding-right: 42px;">
                        Subscribe
                    </button>
                </div>

                <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px; margin-top: 42px; ">
                    Follow On:
                </span>
                <div style="gap: 18px; display:flex ; flex-direction: row;">
                    <img src="Aset/image/Blue Twitter .svg" height="24px" width="24px"/>
                    <img src="Aset/image/Gray Facebook .svg" height="24px" width="24px"/>
                    <img src="Aset/image/Pinterest.svg" height="24px" width="24px"/>
                    <img src="Aset/image/Gray Instagram.svg" height="24px" width="24px"/>
                </div>
            </div>
        </div>
        <div style="text-align:center ; margin-top:84px ;">
            Copyright 2022 
        </div>
    </div>


</body>