<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <style>
            ul{
            list-style-type:none;
            margin:0;
            padding:0;
            margin-left: 152px;
            padding-top: 31px;
            }
            li{
                display: inline;
                margin-right: 40px;
            }
            body{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .navbar{
                margin-top: 30px;
                display: inline-block;
            }

        </style>
    </head>
    <body>
        <div style="background-color: #E8F3EF ; width:100%; height: 70px;  display: flex;">
            <div style="display:inline-block ; margin-left: 0px; ">
            <ul>
                <li>
                    <a href="index.html">Homepages </a>
                </li>
                <li>
                    <a href="about.html">About </a>
                </li>
                <li>
                    <a href="catogories.html">Catogories </a>
                </li>
                <li>
                    <a href="pages.html"> Pages </a>
                    
                </li>

            </ul>
            </div>
            <div class="navbar" style=" margin-right: 19%;">
                <img src="Aset/image/notebook.svg"/>
            </div>
            <div class="navbar" style=" margin-right: 30px;  ">
                <img src="Aset/image/Group 2124.svg"/>
            </div>
            <div class="navbar" style="  margin-right: 71px; ">
                <img src="Aset/image/Vector.svg"/>
            </div>
            <div class="navbar" style="  margin-right: 62px; ">
                <a href="contact.html">Contact</a>
            </div>
            <div class="navbar" style="  margin-right: 53px;  ">
                <span>
                    En
                </span>
            </div>
            <div class="navbar" style="  margin-right: 11px; ">
                <img src="Aset/image/Sun.svg"/>
            </div>
            <div class="navbar" style="  margin-right: 5px; ">
                <img src="Aset/image/Moon.svg"/>
            </div>
        </div><!--navbar-->
        <div style="background-color:#F2F8F7 ; height: auto ; width: 100%; padding-top: 80px;display: flex; flex-direction: row;  ">
           
            <div style="display:flex ; flex-direction: column; ; width:70% ; height: 100%; ">

                <div style="margin-bottom:58px ;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px ;">Featured</span>
                    <span>This Month</span>
                </div>
                <div style="display:flex ; flex-direction: row; height: 100%;">
                    {% for x in myblogs %}
                        <div style="display:flex ; flex-direction: column;  width:50% ; height: 100%;">
                            <div style="display:inline-block ; ">
                                <span style="background-color:#00AAA1 ; color: white; border-radius: 3px; padding: 2px;"> 
                                    Travel
                                </span>
                            </div>
                            <div style="margin-top:8px ; width: 334px; display: inline-block; ">
                                <span style="font-weight: 700; font-size: 27px; ">
                                {{x.title}}
                                </span>
            
                            
                            </div>

                            <div style="height: 229px; width: 401px; background-color:#D9D9D9; border-radius:7px; margin-top: 24px; display: inline-block;">
                                
                                <img src="{{x.image}}"/>
                            </div>
                            <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                                <img src="Aset/image/girl.png" height="18px" width="18px" />
                                <span style=" margin-left: 8px;">
                                   {{x.writer_name}} 
                                </span>
                                <span style="margin-left:10px ; margin-right:10px;">
                                    |
                                </span>                    
                                <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                                <span>
                                    {{x.date}}
                                </span>
                                <span style="margin-left:10px ; margin-right:10px;">
                                    |
                                </span>
                                <img src="Aset/image/Clock.svg" height="12px" width="12px">
                                <span>
                                    {{x.min_to_read}} Min. To Read
                                </span>
                            
                            </div>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  overflow: hidden; height: 40px; ">
                                {{x.content}}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                
            </div>

            <div style="display:flex ; flex-direction: column; width:30% ; height: 100%;">
                <div style="display: inline-block;">
                    <div>
                        <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Populer</span>
                        <span>Posted</span>
                    </div>
                </div>
                <div>
                    <div style="display:inline-block ; margin-top: 58px; ">
                        <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                            Travel
                        </span>
                    </div>
                    <div style="margin-top:8px ;">
                        <span style="font-weight: 500; font-size: 17px; ">
                            Design Is The Mix Of Emotions
                        </span>

                    </div>
                    <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                        <img src="Aset/image/girl.png" height="18px" width="18px" />
                        <span style=" margin-left: 8px;">
                            Jenny Kiaa
                        </span>
                        <span style="margin-left:10px ; margin-right:10px;">
                            |
                        </span>                    
                        <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                        <span>
                            02 December 2022
                        </span>
                        <span style="margin-left:10px ; margin-right:10px;">
                            |
                        </span>
                        <img src="Aset/image/Clock.svg" height="12px" width="12px">
                        <span>
                            3 Min. To Read
                        </span>
                     
                    </div>
                    <p style="color: #555555 ; width: 401px; display: inline-block; ">
                        Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp
                    </p>
                </div>
                
                <div>
                    <div style="display:inline-block ; margin-top: 58px; ">
                        <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                            Travel
                        </span>
                    </div>
                    <div style="margin-top:8px ;">
                        <span style="font-weight: 500; font-size: 17px; ">
                            Design Is The Mix Of Emotions
                        </span>

                    </div>
                    <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                        <img src="Aset/image/girl.png" height="18px" width="18px" />
                        <span style=" margin-left: 8px;">
                            Jenny Kiaa
                        </span>
                        <span style="margin-left:10px ; margin-right:10px;">
                            |
                        </span>                    
                        <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                        <span>
                            02 December 2022
                        </span>
                        <span style="margin-left:10px ; margin-right:10px;">
                            |
                        </span>
                        <img src="Aset/image/Clock.svg" height="12px" width="12px">
                        <span>
                            3 Min. To Read
                        </span>
                     
                    </div>
                    <p style="color: #555555 ; width: 401px; display: inline-block; ">
                        Did you come here for something in particular or just general Riker-bashing? And blowing into maximum warp
                    </p>
                </div>
            </div>
        </div>
        <div style="display:flex ; flex-direction: row; height:auto ; width: 100%; ">
            <div style="width: 70%;  padding-top: 70px; padding-left: 50px; display: flex; flex-direction: column; gap: 16px;">
                <div style="margin-bottom: 56px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Recently</span>
                    <span>Posted</span>
                </div>
                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style=" width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="background-color:#F2F8F7; margin: 60px; height: 212px; width: 75%; display: flex; flex-direction: column; align-items: center; text-align: center; justify-content:center ; justify-items: center; display: flex; gap: 24px;">
                    
                    <span style="font-size:21px ; font-weight: 600; text-align: center; justify-content:center ; justify-items: center; display: flex; ">Share your knowledge with our readers </span>
                    <button type="button" style="font-weight: 400;
                    font-size: 17px; color: #00AAA1; border: 1px solid #00AAA1;
                    border-radius: 6px; padding-top: 15px; padding-bottom: 15px; padding-left: 30px; padding-right: 30px; "><img src="Aset/image/Edit.svg" alt=""> Write on notebook </button>
                </div>


                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style=" width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style=" width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display:flex ; flex-direction:row ; width: 100%;">
                    <div style="width:30% ; height: 180px; background-color: #D9D9D9; border-radius: 5px; ">
                    </div>
                    <div style="width: 70%; height: 100%; margin-left: 34px;">
                        <div style="display:inline-block ; margin-top: 2px; ">
                            <span style="background-color:#DFF1F0 ; border-radius: 3px; padding: 2px;"> 
                                Travel
                            </span>
                        </div>
                        <div style="margin-top:8px ;">
                            <span style="font-weight: 500; font-size: 17px; ">
                                Design Is The Mix Of Emotions
                            </span>
    
                        </div>
                        <div style="margin-top: 24px; color:#777777 ; font-size: 12px; display: inline-block; ">
                            <img src="Aset/image/girl.png" height="18px" width="18px" />
                            <span style=" margin-left: 8px;">
                                Jenny Kiaa
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>                    
                            <img src="Aset/image/Calender.svg" height="12px" width="12px" >
                            <span>
                                02 December 2022
                            </span>
                            <span style="margin-left:10px ; margin-right:10px;">
                                |
                            </span>
                            <img src="Aset/image/Clock.svg" height="12px" width="12px">
                            <span>
                                3 Min. To Read
                            </span>
                            <p style="color: #555555 ; width: 401px; display: inline-block;  font-weight: 400; font-size: 15px; ">
                                Did you come here for something in particular or just general Riker-bashing? And blowing into 
                            </p>
                         
                        </div>

                    </div>
                </div>

                <div style="display: flex; justify-content: center; gap: 16px;">
                    <button style="background-color: #FFFFFF; border: 1px #FFFFFF ; border-radius: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 26px; padding-left: 26px;">
                        <img src="Aset/image/Arrow kiri .svg" alt="panah kiri" />
                        <span style="color: #666666;">
                            Prev.
                        </span>
                    </button>

                    <button style="background-color: #FFFFFF; border: 3px #666666 ; border-radius: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 16px; padding-left: 16px;">
                        <span style="color: #666666;">
                            1
                        </span>
                    </button >

                    <button style="background-color: #FFFFFF; border: 3px #666666 ; border-radius: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 16px; padding-left: 16px;">
                        <span style="color: #666666;">
                            2
                        </span>
                    </button>

                    <button style="background-color: #FFFFFF; border: 3px #666666 ; border-radius: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 16px; padding-left: 16px;">
                        <span style="color: #666666;">
                            3
                        </span>
                    </button>

                    <button style="background-color: #00AAA1; border: 1px #FFFFFF ; border-radius: 5px; padding-top: 13px; padding-bottom: 13px; padding-right: 26px; padding-left: 26px; "> 
                        <span style="color: #FFFFFF;">
                            Next
                        </span>
                        <img src="Aset/image/Arrow kanan.svg" alt="panah kanan"/>
                    </button>


                </div>


            </div>
            <div style="width:30% ; padding-top: 70px;">
                <div style="margin-bottom: 56px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Top</span>
                    <span>Authors</span>
                </div>

                <div style="display:flex ; flex-direction: column; gap: 45px;"> <!--author list-->
                    <div style="display: flex; flex-direction:row; gap: 24px;"> <!--author-->
                        <div style="background-color: #D9D9D9; width: 80px; height: 80px; border-radius: 80px; ">

                        </div>
                        
                        <div>
                            <div>
                                <span style="font-size: 17px ; font-weight: 600;">Jenny Kia</span>
                            </div>
                            <div style="margin-top:6px ; margin-bottom: 16px;  ">
                                <span style="color: #666666; font-size: 12px; font-weight: 300;">Fashion designer, Blogger, activist</span>
                            </div>
                            <div style="display: flex; flex-direction:row ;gap: 10px;">
                                <img src="Aset/image/facebook.svg" height="20px" width="20px"/>
                                <img src="Aset/image/Twitter.svg" height="20px" width="20px"/>
                                <img src="Aset/image/instagram.svg" height="20px" width="20px"/>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction:row; gap: 24px;"> <!--author-->
                        <div style="background-color: #D9D9D9; width: 80px; height: 80px; border-radius: 80px; ">

                        </div>
                        
                        <div>
                            <div>
                                <span style="font-size: 17px ; font-weight: 600;">Jenny Kia</span>
                            </div>
                            <div style="margin-top:6px ; margin-bottom: 16px;  ">
                                <span style="color: #666666; font-size: 12px; font-weight: 300;">Fashion designer, Blogger, activist</span>
                            </div>
                            <div style="display: flex; flex-direction:row ;gap: 10px;">
                                <img src="Aset/image/facebook.svg" height="20px" width="20px"/>
                                <img src="Aset/image/Twitter.svg" height="20px" width="20px"/>
                                <img src="Aset/image/instagram.svg" height="20px" width="20px"/>
                            </div>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction:row; gap: 24px;"> <!--author-->
                        <div style="background-color: #D9D9D9; width: 80px; height: 80px; border-radius: 80px; ">

                        </div>
                        
                        <div>
                            <div>
                                <span style="font-size: 17px ; font-weight: 600;">Jenny Kia</span>
                            </div>
                            <div style="margin-top:6px ; margin-bottom: 16px;  ">
                                <span style="color: #666666; font-size: 12px; font-weight: 300;">Fashion designer, Blogger, activist</span>
                            </div>
                            <div style="display: flex; flex-direction:row ;gap: 10px;">
                                <img src="Aset/image/facebook.svg" height="20px" width="20px"/>
                                <img src="Aset/image/Twitter.svg" height="20px" width="20px"/>
                                <img src="Aset/image/instagram.svg" height="20px" width="20px"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="background-color:#00AAA1 ; width: 100% ; height: 300px; margin-top: 56px; padding-top: 10px;">
                    <span style="color: #FFFFFF; font-weight: 500; font-size: 12px;text-align: right; display: flex; justify-content: end; margin-right: 10px;  ">Ad</span>
                    <div style="width:55% ; margin-left: 20px; margin-top: 33px;">
                        <span style="text-transform: capitalize; color: #FFFFFF; font-size: 19px; font-weight: 600;">want to travel sikkim by car?</span>
                    </div>
                    <div style="width:60% ; margin-left:20px; margin-top: 10px;">
                        <p style="font-size:14px ; font-weight: 400; color: #FFFFFF;">
                            Did you come here for something in particular or just general Riker-bashing? And blowing into
                        </p>
                    </div>
                    <button style="font-size:15px ;  font-weight: 400; color: #00AAA1; padding-top: 13px; padding-bottom: 13px; padding-right: 26px; padding-left:26px ; border: 0px; border-radius: 5px; margin-left: 20px;">
                        Visit Us
                    </button>
                </div>

                <div style="margin-top: 50px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Catogories</span>
                </div>

                <div style="display: flex; flex-direction: column; margin-top: 40px; font-size: 15px; font-weight: 500; color: #1C1C1C;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 12px; padding-bottom: 12px;">
                        <span style="text-transform:capitalize ;">
                            lifestyle
                        </span>
                        <span style="text-transform:capitalize ;">
                            09
                        </span>
                    </div>
                    <div style="width:100% ; border-top: 1px dashed #D1E7E5;">
                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 12px; padding-bottom: 12px;">
                        <span style="text-transform:capitalize ;">
                            travel
                        </span>
                        <span style="text-transform:capitalize ;">
                            05
                        </span>
                    </div>
                    <div style="width:100% ; border-top: 1px dashed #D1E7E5;">
                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 12px; padding-bottom: 12px;">
                        <span style="text-transform:capitalize ;">
                            food
                        </span>
                        <span style="text-transform:capitalize ;">
                            09
                        </span>
                    </div>
                    <div style="width:100% ; border-top: 1px dashed #D1E7E5;">
                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 12px; padding-bottom: 12px;">
                        <span style="text-transform:capitalize ;">
                            healthcare
                        </span>
                        <span style="text-transform:capitalize ;">
                            10
                        </span>
                    </div>
                    <div style="width:100% ; border-top: 1px dashed #D1E7E5;">
                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding-top: 12px; padding-bottom: 12px;">
                        <span style="text-transform:capitalize ;">
                            technology
                        </span>
                        <span style="text-transform:capitalize ;">
                            03
                        </span>
                    </div>
                    
                </div>

                <div style="margin-top:85px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Today's</span>
                    <span>Update</span>
                </div>
                <div style="display:flex ; flex-direction: column; margin-top: 43px; gap: 24px;">
                    <div style="display: flex; flex-direction: row; gap: 20px;">
`                       <div style="width: 166px; height: 111px; background-color: #F2F8F7; border-radius: 10px; display:flex ; flex-direction: column; gap: 6px; justify-content: center; text-align: center;">
                            <span style="font-size:24px ; font-weight: 600; color: #00AAA1;">14</span>
                            <span style="font-size:15px ; font-weight: 400;">New Posts</span>
                        </div>
                        <div style="width: 166px; height: 111px; background-color: #F2F8F7; border-radius: 10px; display:flex ; flex-direction: column; gap: 6px; justify-content: center; text-align: center;">
                            <span style="font-size:24px ; font-weight: 600; color: #00AAA1;">480</span>
                            <span style="font-size:15px ; font-weight: 400;">Total Visitors</span>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; gap: 20px;">
`                       <div style="width: 166px; height: 111px; background-color: #F2F8F7; border-radius: 10px; display:flex ; flex-direction: column; gap: 6px; justify-content: center; text-align: center;">
                            <span style="font-size:24px ; font-weight: 600; color: #00AAA1;">29</span>
                            <span style="font-size:15px ; font-weight: 400;">New Subscribers</span>
                        </div>
                        <div style="width: 166px; height: 111px; background-color: #F2F8F7; border-radius: 10px; display:flex ; flex-direction: column; gap: 6px; justify-content: center; text-align: center;">
                            <span style="font-size:24px ; font-weight: 600; color: #00AAA1;">138</span>
                            <span style="font-size:15px ; font-weight: 400;">Blog Read</span>
                        </div>
                    </div>
                </div>

                <div style="margin-top:85px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Instagram</span>
                    <span>Post</span>
                </div>
                <div style="display:flex ; flex-direction: column; margin-top: 43px; gap: 10px;">
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #2B2C2E; border-radius: 5px; opacity: 30%; display: flex; justify-content: center; justify-items: center; align-items: center;">
                            <img src="Aset/image/instagram putih.svg" width="16px" height="16px" />
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>

                        <div style="width: 114px; height: 114px; background-color: #D9D9D9; border-radius: 5px; ">
                        </div>
                    </div>
                </div>

                <div style="margin-top:85px;">
                    <span style="background-color:#00AAA1; color:white  ; padding: 2px;">Search</span>
                    <span>With Tags</span>
                </div>

                <div style="display:flex ; flex-wrap: wrap; margin-top: 41px; gap: 12px; width: 100%; ">
                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Travel</span>
                    </div>
                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Lifestyle</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Fashion</span>
                    </div>

                    <div style="border: 1px solid #00AAA1; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; background-color: #00AAA1;">
                        <span style="font-size:15px ; font-weight: 400; color: #FFFFFF;">Technology</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Business</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Design</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Health</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Food</span>
                    </div>

                    <div style="border: 1px solid #C4C4C4; border-radius: 4px; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">
                        <span style="font-size:15px ; font-weight: 400; color: #666666;">Art</span>
                    </div>
                </div>

            </div>
        </div>
        <div style="background-color:#F2F8F7 ; width: 100%; margin-top: 50px; padding-top: 70px; ">
            <div style="display: flex; flex-direction:row ; justify-content: space-evenly;">
                <div>
                    <div>
                        <img src="Aset/image/notebook.svg" width="119px" height="27px"/>
                    </div>
                    <div style="margin-top: 24px;">
                        <span style="font-size: 15px; font-weight: 400; color: #555555; display: flex; flex-wrap: wrap; width: 236px; line-height: 22px;">
                            Did you come here for something in particular or just general Riker
                        </span>
                    </div>
                </div>
                <div style="display:flex ; flex-direction: column;">
                    <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px;">
                        Blog
                    </span>
                    <div style="color:#555555 ; display:flex ; flex-direction: column; gap: 11px; ">
                    <span>Travel</span>
                    <span>Technology</span>
                    <span>Lifestyle</span>
                    <span>Fashion</span>
                    <span>Bussiness</span>
                    </div>
                </div>
                <div style="display:flex ; flex-direction: column;">
                    <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px;">
                        Quick Links
                    </span>
                    <div style="color:#555555 ; display:flex ; flex-direction: column; gap: 11px; ">
                    <span>FAQ</span>
                    <span>Terms & Conditions</span>
                    <span>Support</span>
                    <span>Privacy Policy</span>
                    </div>
                </div>
                <div style="display:flex ; flex-direction: column;">
                    <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px; ">
                        Subscribe For Newsletter
                    </span>
                    <div style="display: flex; flex-direction: row; width: 100%;">
                        <input style="background-color:#DFF1F0 ; border:0px; border-radius: 6px 0px 6px 0px; padding-top: 15px; padding-bottom: 15px; padding-left: 22px; padding-right: 22px" placeholder="Your Email"/>
                        <button style="background-color: #00AAA1; border: 0px; border-radius: 0px 6px 6px 0px; font-size: 15px; font-weight: 400; color: #FFFFFF; padding-top: 15px; padding-bottom: 15px; padding-left: 42px; padding-right: 42px;">
                            Subscribe
                        </button>
                    </div>

                    <span style="font-size: 17px; font-weight: 600; margin-bottom: 24px; margin-top: 42px; ">
                        Follow On:
                    </span>
                    <div style="gap: 18px; display:flex ; flex-direction: row;">
                        <img src="Aset/image/Blue Twitter .svg" height="24px" width="24px"/>
                        <img src="Aset/image/Gray Facebook .svg" height="24px" width="24px"/>
                        <img src="Aset/image/Pinterest.svg" height="24px" width="24px"/>
                        <img src="Aset/image/Gray Instagram.svg" height="24px" width="24px"/>
                    </div>
                </div>
            </div>
            <div style="text-align:center ; margin-top:84px ;">
                Copyright 2022 
            </div>
        </div>

            

    </body>
</html>